
@{
    //ViewBag.Title = "Delete";
    Layout = null;
}

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Eliminar Registro</h4>
            </div>
            <div class="modal-body">
                <h4>¿Está Seguro? Quieres eliminar este registro.</h4>

            </div>
            <div class="modal-footer">
                <button class="btnCancelar btn btn-primary">Cancelar</button>                
                <button class="btnConfir btn btn-danger" data-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>
